{% extends '_layout.html' %}

{% block mainbody %}
    <div class="container" data-aos="fade-in">

        {#顶部标题栏#}
        {% block pagehead %}
            <div class="section-heading">
                {% block pagetitle %}
                    <h2>首页</h2>
                {% endblock %}
                <div class="line-dec"></div>
            </div>
        {% endblock %}

        <p>
            {{ g.login_data }}
        </p>

        {% block content %}
            {% for post in posts %}
                <div class="post-item">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{ post.title }}</h4>
                            <div class="post-item-meta">
                                {{ post.date }}
                                {% if post.category %}
                                    <span class="category"><a href="/"><i
                                            class="fa fa-folder-open"></i> {{ post.category }}</a></span>
                                {% endif %}
                            </div>
                            <p>
                                {{ post.excerpt | striptags }}
                            </p>
                            <div class="white-button">
                                <a href="{{ post.url }}">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endblock %}

    </div>
    {#右侧导航栏#}
    <div class="right-panel" data-aos="fade-left">
        <div class="segment">
            <h4>分类</h4>
            <div>
                <div class="py-1">
                    <a href="{{ url_for('blog.index') }}"><i
                            class="fa fa-folder-open"></i>测试分类</a>
                    <span class="badge badge-light">10</span>
                </div>
            </div>
        </div>
        <div class="segment">
            <h4>标签</h4>
            <div class="tags">
                <a href="/" class="button"><i class="fa fa-tag"></i> 测试标签</a>
            </div>
        </div>
        {% block right_extra %}{% endblock %}
    </div>
{% endblock %}
